extends layout

block content
   h1 Welcome to the Question Bank
   |
   end
   |
   a(class = "button", href="/login") Existing users Login
   |
   p or
   |
   a(class = "button", href="/signup") New User Signup 